/* =========================================
   SOMMAIRE
   1. VARIABLES & RESET (Couleurs, Polices, Box-sizing)
   2. TYPOGRAPHIE & BALISES DE BASE (h1, h2, p...)
   3. ÉLÉMENTS GLOBAUX & ACCESSIBILITÉ (Liens, Boutons, ScrollToTop, ARIA)
   4. THÈMES JS & MENU ACCESSIBILITÉ (Agrandissement, Mode Sombre)
   5. STRUCTURE PRINCIPALE (Header, Nav, Footer)
   6. PAGES & COMPOSANTS (Accueil, Cartes, Formulaire Contact)
   ========================================= */



/* =========================================
   1. VARIABLES & RESET
   ========================================= */
:root {
    --main-color: #23425f;
    --h1-color: #1f57a5;
    --h2-color: #11527b;
    --action-color : #DF2A09;
    --action-color_fond_beige: #CE2609;
    --boutons_couleur: #fbfaf8;
    --boutons_principaux_hover: #11527b;
    --boutons_action_hover: #f73100;
    --focus_classique: #11527b;
    --focus_action : #f73100;
    
    --fond_global: #faf7f3;
    --fond_sections: #f1ece6;
    --fond_variante: #ebeff2;
    --fond_aside: #eef2f5;
    
    --style-bordure_sections: 0.3rem solid #f8ece2;
    --style-bordure_boutons_classic:  0.1rem solid #11527b;
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html { 
    scroll-behavior: smooth; 
}

body {
    font-family: "Verdana", sans-serif;
    line-height: 1.6;
    color: var(--main-color);
    background-color: var(--fond_global);
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

/* =========================================
   2. TYPOGRAPHIE & BALISES DE BASE
   ========================================= */
h1 {
    color: var(--h1-color);
    font-size: 2.1rem;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    text-align: center;
    border-bottom: 3px solid var(--main-color);
    padding-bottom: 0.5rem;
}

h2 {
    color: var(--h2-color);
    font-size: 1.6rem;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.8rem;
    text-align: center;
    border-bottom: 3px solid var(--main-color);
    padding-bottom: 0.5rem;
}

h3 {
    color: var(--h2-color);
    font-size: 1.4rem;
    margin-bottom: 0.6rem;
    text-align: center;
}

p {
    font-size: 1rem;
    color: var(--main-color);
    display: block;
    padding-top: 2rem;
    text-wrap: balance;
}



/* =========================================
   3. ÉLÉMENTS GLOBAUX & ACCESSIBILITÉ
   ========================================= */
a {
    color: var(--main-color);
    text-decoration: none;
    display: inline-block;
    padding: 0.5rem 1rem;
}

a:hover {
    background-color: var(--boutons_principaux_hover);
    color: var(--boutons_couleur);
}

a.lien_classique {
    border-radius: 0.5rem;
}

a.lien_action, 
button.bouton_action {
    background-color: var(--action-color);
    color: var(--boutons_couleur);
    border-radius: 1rem;
}

a.lien_action:hover, 
button.bouton_action:hover {
    background-color: var(--boutons_couleur);
    color: var(--action-color);
}

/* --- Focus & Accessibilité --- */
.skip-link {
    position: absolute;
    top: -100px; 
    left: 0;
    background: var(--action-color); 
    color: var(--boutons_couleur);
    padding: 10px; 
    z-index: 9999; 
    transition: top 0.3s;
}

.skip-link:focus {
    top: 10px;
    outline: 3px solid var(--focus_classique);
}

a.lien_classique:focus-visible,
.btn_menu_nav:focus-visible {
    outline: 3px solid var(--focus_classique);
    outline-offset: 3px;
}

a.lien_action:focus-visible, 
button.bouton_action:focus-visible {
    outline: 3px solid var(--focus_action);
    outline-offset: 3px;
}

#scrollToTop {
    width: 3.2rem; 
    height: 3.2rem;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    position: fixed;
    bottom: 20px; 
    right: 20px;
    background: var(--action-color); 
    color: var(--boutons_couleur);
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    z-index: 1000;
}

#scrollToTop:hover { 
    transform: scale(1.1); 
    background-color: var(--boutons_action_hover);
}

#scrollToTop:focus-visible {
    outline: 3px solid var(--focus_action);
    outline-offset: 3px;
}

#scrollToTop.visible {
    opacity: 1;
    visibility: visible;
}



/* =========================================
   4. THÈMES JS & MENU ACCESSIBILITÉ
   ========================================= */
html.texte-agrandi {
    font-size: 120%;
}

body.interligne-agrandi {
    line-height: 2;
}

body.theme-sombre {
    --fond_global: #121212;
    --fond_sections: #1e1e1e;
    --fond_variante: #2a2a2a;
    --main-color: #f5f5f5;
    --h1-color: #efefef;       
    --h2-color: #f0eded;
    --style-bordure_sections: 0.2rem solid #444;
    --bouton_couleur: #444;
}

body.theme-sombre .barre_accessibilite { background-color: #2a2a2a; }
body.theme-sombre footer { background-color: #1e1e1e; }
body.theme-sombre .logo_header, 
body.theme-sombre .icone_accessibilite, 
body.theme-sombre .icones_missions { background-color: #f5f5f5; }

body.theme-sombre .barre_accessibilite button:hover, 
body.theme-sombre .barre_accessibilite button[aria-pressed="true"] {
    background-color: var(--boutons_principaux_hover);
    color: #f5f5f5;
}

body.theme-sombre nav ul a[aria-current="page"] {
    background-color: #f5f5f5;
    color: var(--fond_variante);
}

.barre_accessibilite {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    gap: 1.6rem;
    padding: 0.5rem 1.4rem;
    background-color: var(--main-color);
}

.accessibilite_entete {
    display: flex;
    align-items: center;
    gap: 1rem;
}

#liste_accessibilite {
    list-style: none;
    display: none;
    flex-direction: column; 
    gap: 1rem; 
    margin-top: 1rem;
}

#liste_accessibilite.menu-accessibilite-ouvert {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    align-items: stretch;
    text-align: center;
    width: 100%;
    margin-top: 1.5rem;
}

#liste_accessibilite.menu-accessibilite-ouvert li:last-child {
    grid-column: span 2;
}

#liste_accessibilite.menu-accessibilite-ouvert button {
    width: 100%;
    height: 100%;
    padding: 0.8rem 0.5rem;
}

.icone_accessibilite {
    width: 2rem; 
    height: auto;
    background-color: var(--fond_global);
    border-radius: 20%;
    padding: 0.2rem;
}

.barre_accessibilite button {
    background: none;
    border: 1px solid var(--boutons_couleur);
    color: var(--boutons_couleur);
    padding: 0.3rem 0.6rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9rem;
    width: fit-content;
    height: auto;
}

.barre_accessibilite p {
    text-align: center;
    color: var(--boutons_couleur);
    font-size: 0.9rem;
}

.barre_accessibilite button:hover,
.barre_accessibilite button[aria-pressed="true"] {
    background-color: var(--boutons_couleur);
    color: var(--main-color);
}


/* MQ Accessibilité PC */
@media screen and (min-width: 992px) {
    .barre_accessibilite {
        flex-direction: row;
    }
    #btn_menu_accessibilite {
        display: none;
    }
    .icone_accessibilite {
        width: 2.7rem; 
    }
    #liste_accessibilite {
        display: flex !important;
        flex-direction: row;
        margin-top: 0;
        gap: 1.5rem;
    }
    .barre_accessibilite button {
        width: auto;
        height: 2.5rem;
    }
}



/* =========================================
   5. STRUCTURE PRINCIPALE (Header, Nav, Footer)
   ========================================= */
header {
    display: flex;
    flex-direction: column;
    background-color: var(--fond_sections);
    border-bottom: var(--style-bordure_sections);
    margin-bottom: 0.9rem;
}

.header_principal {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1.4rem;
    width: 100%;
}

.logo_header {
    width: 4rem;
    height: auto;
    background-color: transparent;
    border-radius: 5%;
    box-shadow: 0 0 5px var(--h2-color);
}

nav ul {
    list-style: none;
    display: none;
    flex-direction: column;
    gap : 1.5rem;
}

nav ul.menu-ouvert {
    display: flex;
    text-align: center;
}

nav ul a {
    display: block;
    padding: 1rem;
}

nav ul a[aria-current="page"] {
    background-color: var(--h1-color);
    color: var(--boutons_couleur);
    border-radius: 0.5rem;
    font-weight: bold;
}

#btn_menu_nav, #btn_menu_accessibilite {
    background-color: var(--action-color);
    color: var(--boutons_couleur);
    border: none;
    padding: 10px 15px;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#btn_menu_nav:hover, #btn_menu_accessibilite:hover {
    background-color: var(--boutons_couleur);
    color: var(--action-color);
}

.header-menu-ouvert .logo_header { display: none; }
.header-menu-ouvert { justify-content: center; }


/* MQ Header PC */
@media screen and (min-width: 992px) {
    header { justify-content: space-evenly; }
    .logo_header {
        width: 150px;
        margin-right: 2rem;
    }
    nav ul {
        display: flex;
        flex-direction: row;
        gap: 2rem;
    }
    #btn_menu_nav { display: none; }
}


/* --- Footer --- */
footer {
    background-color: var(--main-color);
    color: var(--boutons_couleur);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    border-bottom: var(--style-bordure_sections);
    text-align: center;
}

.logo_footer {
    padding: 0.5rem;
    margin: 0.5rem 0;
    height: 4rem;
    width: auto;
    background-color: var(--fond_aside);
    border-radius: 5%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap : 1.2rem;
}

footer a {
    color: var(--boutons_couleur);
}

footer p {
    color: var(--boutons_couleur);
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

footer h3 {
    color: var(--boutons_couleur);
    margin: 0.5rem 0;
    border-bottom: 2px solid var(--action-color);
    padding-bottom: 0.7rem;
    display: inline-block;
}

.nav_footer { margin-bottom: 1rem; }

footer a.lien_classique:focus-visible { outline: 4px solid var(--boutons_couleur); outline-offset: 4px; }
footer a.lien_action:focus-visible { outline: 4px solid var(--focus_action); outline-offset: 4px; }


/* MQ Footer PC */
@media screen and (min-width: 992px) {
    footer { justify-content: space-around; }
    .footer-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
        width: 100%;
    }
    .nav_footer, .contact_footer {
        text-align: left;
        flex: 1;
        padding: 0 2rem;
    }
    .nav_footer ul { align-items: flex-start; }
    .nav_footer a { padding: 0.3rem; margin-bottom: 0; }
}

/* =========================================
   6. PAGES & COMPOSANTS
   ========================================= */

/* --- Hero Section --- */
.hero_bienvenue {
    background-color: var(--fond_sections);
    padding: 1.6rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    border-radius: 1rem;
    border-color: #f8ece2;
    border-style: solid;
    border-width: 0.25rem;
    box-shadow: 0 0 5px var(--h2-color);
}

.hero_bienvenue p { padding-top: 1.7rem; }

@media screen and (min-width: 992px) {
    .hero_bienvenue {
        align-self: center;
        justify-content: space-between;
        align-items: center;
        max-width: 80%;
        margin-bottom: 1.6rem;
    }
    .presentation_asso {
        text-align: left;
        padding-left: 6rem;
        padding-right: 2rem;
    }
}

/* --- Cartes Missions --- */
.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
}

.missions_asso {
    width: 100%;
    background-color: var(--fond_variante);
    border-radius: 1rem;
    margin-top: 2rem;
}

.missions_asso h2 { padding-top: 1rem; padding-bottom: 1rem; }

.pres-missions {
    text-align: center;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--fond_sections);
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    border-color: var(--h2-color);
    border-style: none;
    border-width: 0.15rem;
    box-shadow: 0 0 3px var(--h2-color);
}

article h3 {
    border-bottom: 2px solid var(--main-color);
    padding-bottom: 0.5rem;
    display: inline-block;
}

article p {
    text-align: left;
    padding: 0.8rem;
    max-width: 90%;
}

#orientation-description {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.icones_missions {
    height: 3rem;
    width: auto;
    margin-top: 0.8rem;
    margin-bottom: 0.3rem;
    border-radius: 50%;
    background-color: transparent;
}

@media screen and (min-width: 992px) {
    main { padding: 0; }
    .main-container {
        flex-direction: row;
        justify-content: space-around;
        align-items: stretch;
        gap: 2rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .missions_asso { margin-top: 0; }
    article { flex: 1; border-style: solid; }
    .Orientation, .Soutien, .Sensibilisation { flex: 1; }
    .btn_acceuil_contact {
        width: 100%;
        display: inline-block;
        text-align: center;
    }
}

/* --- Page Contact & Formulaires --- */
#texte_info_contact { line-height: 1.8rem; display: block; }
#presentation_contact { margin-bottom: 1rem; }

.form_standard {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.mention_requis {
    text-align: center;
    font-size: 0.9rem;
    color: var(--action-color_fond_beige);
    margin-bottom: -0.5rem;
}

.requis {
    color: var(--action-color_fond_beige);
    font-weight: bold;
}

.champ_formulaire label {
    display: block;
    font-weight: bold;
    color: var(--main-color);
    margin-bottom: 0.5rem;
}

.aide-email {
    color: var(--action-color_fond_beige);
    font-weight: bold;
    font-size: 0.875rem;
    display: block;
    margin-top: 0.25rem;
    margin-bottom: 0.5rem;
}

.champ_formulaire input, .champ_formulaire textarea {
    width: 100%;
    padding: 0.8rem;
    border: 2px solid var(--h2-color);
    border-radius: 0.5rem;
    background-color: var(--fond_global);
    color: var(--main-color);
    font-family: inherit;
    font-size: 1rem;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.champ_formulaire textarea { min-width: 80%; resize: vertical; }

.champ_formulaire input:focus, .champ_formulaire textarea:focus {
    outline: none;
    border-color: var(--main-color);
    box-shadow: 0 0 0 3px var(--focus_action);
}

button.btn_large, a.btn_large {
    width: 100%;
    font-size: 1.1rem;
    padding: 1rem;
    border: none;
    cursor: pointer;
    font-family: inherit;
    text-align: center;
    align-self: center;
}

.message_succes, .message_erreur {
    text-align: center;
    font-size: 1.1rem;
    padding: 1rem;
    border-radius: 0.5rem;
    margin-top: 1rem;
}

.message_erreur { background-color: var(--action-color); color: var(--boutons_couleur); }
.message_succes { background-color: var(--h1-color); color: var(--boutons_couleur); }

/* MQ Formulaires PC */
@media screen and (min-width: 992px) {
    .formulaire-contact {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap : 1.5rem;
        flex: 0.7;
    }
    .champ_formulaire input, .champ_formulaire textarea { width: 40%; }
    button.btn_large, a.btn_large { width: 50%; }
}


/**** Page article view (apercu des articles ***/

/** section de bouton de tri de categories de ressources ***/
.tri_articles
{
  display: flex;
  flex-wrap: wrap;;
  justify-content: center;
  gap:1rem;
  margin-bottom: 2rem;
  margin-top: 1.5rem;
  padding: 0 1 rem;
}

/* --- Carte d'aperçu d'un article --- */

.apercu_article
{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0.5rem;
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: 0 0 3px var(--h2-color);
}

/* MQ apercu article PC */
@media screen and (min-width: 992px) {
  /* MQ apercu article PC */
@media screen and (min-width: 992px) {

    /* 2. On enlève la limite stricte du mobile pour que les cartes puissent s'étirer */
    .apercu_article {
        max-width: none;
        justify-content: space-around;
    }

    /* 3. SCÉNARIO A : S'il n'y a qu'UN SEUL article */
    /* :only-child détecte s'il est tout seul dans le main-container */
    .apercu_article:only-child {
        max-width: 60%;
        flex: 0 0 60%; 
    }

    /* 4. SCÉNARIO B : S'il y a EXACTEMENT DEUX articles */
    /* Le premier élément qui est aussi l'avant-dernier (donc il y en a 2), ET son frère */
    .apercu_article:first-child:nth-last-child(2),
    .apercu_article:first-child:nth-last-child(2) ~ .apercu_article {
        max-width: 40%; /* 40% + 40% = 80% de l'espace global, comme tu le souhaitais ! */
        flex: 0 0 40%;
    }

    /* 5. SCÉNARIO C : S'il y a 3 articles OU PLUS (Grille classique) */
    /* S'il y a au moins 3 éléments, on bloque la largeur max pour faire de belles colonnes */
    .apercu_article:first-child:nth-last-child(n+3),
    .apercu_article:first-child:nth-last-child(n+3) ~ .apercu_article {
        max-width: 350px;
    }
}
}

.apercu_article h3 {
    border-bottom: 2px solid var(--main-color);
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
}

.apercu_article p {
    flex-grow: 1; /* Le texte prend toute la place disponible au milieu */
    padding-top: 0;
    margin-bottom: 1.5rem;
    font-size: 0.95rem;
}

.msg_no_article
{text-align: center;}


